.header-container {
    width: 1170px;
    margin: 0 auto;
    backgroun-color: yellow;
    text-align: center;
}    
    
.title {
  color: #02ccba;
}

.main {
    float: left;
    width: 25%
    margin: 10px
    text-align: center;
}
    
.main-icon {
    position: relative;
}

.icon {
    
}  
    
.icon-p {
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
}

.main-text p {
    font-size: 10px;
    border: 2px solid blue;
    width: 100px;
    height: 15px;
}
