.header-container {
    width: 1170px;
    margin: 0 auto;
    backgroun-color: yellow;
}    
    
.title {
  color: #02ccba;
}

.main {
    float: left;
    width: 25%
    margin: 10px
}
    
.main-icon {
    position: relative;
}

.icon {
    
}  
    
.icon-p {
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
}
    
