.header-container {
    width: 1170px;
    margin: 0 auto;
    backgroun-color: yellow;
}    
    
.title {
  color: #02ccba;
}

.img {
    position: relative;
}
    
.icon p {
    position: absolute;
    top: 10px;
    left: 20px;
}
